.container {
    text-align: center;
    margin-left: 250px;
    margin-top: 30px;
}

.Registrar {
    text-align: center;
    margin-top: 20px;
}

.bold, nuevo {
    font-size: medium;
    text-align: center;
}

.auto-style7 {
    width: 547px;
    margin-left: 87.5px;
}

.auto-style8 {
    text-align: right;
    padding: 10px;
    width: 173px;
}

.auto-style9 {
    width: 173px;
}
